
*{
    margin: 0;
    padding: 0;
}


.black{
    height: 100vh;
    background-color: black;
}

.screamer{
    height: 100vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgQnM8iew07grm18eda68edZZy27rOud_mrQ&s") no-repeat;
    background-size: cover;
    display: none;
}